<footer>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/planets">Planets</a></li>
					<li><a href="/stars">Stars</a></li>
					<li><a href="/galaxies">Galaxies</a></li>
				</ul>
			</nav>
			<p>&copy; {{ "now"|date("Y") }} Baily Bates. Advanced Server-Side Languages.</p>
		</footer>

