<html>
	<head>
	<title>Space Object Library</title>
	<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<header>
			<nav>
				<ul class="nav-menu">
					<li><a href="/">Home</a></li>
					<li><a href="/planets">Planets</a></li>
					<li><a href="/stars">Stars</a></li>
					<li><a href="/galaxies">Galaxies</a></li>
				</ul>
			</nav>
		</header>

		{% block main_content %}
		{% endblock %}

		<footer>
			<nav>
				<ul class="nav-menu">
					<li><a href="/">Home</a></li>
					<li><a href="/planets">Planets</a></li>
					<li><a href="/stars">Stars</a></li>
					<li><a href="/galaxies">Galaxies</a></li>
				</ul>
			</nav>
			<p>&copy; {{ "now"|date("Y") }} Baily Bates. Advanced Server-Side Languages.</p>
		</footer>
	</body>
</html>
